Question about unsafe

When will `unsafe` will be forbidden, especially in the argon2 crate?


> > Parallelism is unnecessary, the Argon2 RFC recommends 1 lane for both embedded and desktop.
> 
> I'm not sure where you're seeing that. From [RFC9106 §4: Parameter Choice](https://www.rfc-editor.org/rfc/rfc9106.html#name-parameter-choice):
> 
> > We recommend the following procedure to select the type and the parameters for practical use of Argon2.
> > If a uniformly safe option that is not tailored to your application or hardware is acceptable, select Argon2id with t=1 iteration, p=4 lanes, m=2^(21) (2 GiB of RAM), 128-bit salt, and 256-bit tag size. This is the FIRST RECOMMENDED option.
> 
> Much of the procedure selects `p=4` lanes.

You're right, sorry my memory failed me. 
The RFC does indeed recommend p=4.

I guess supporting parallelism makes sense, but a tiny part of me want to argue that perhaps if implementing argon2 with parallelism will require unsafe, maybe we shouldn't ?

> The nice thing about parallelism is where attackers get parallelism for free due to the embarrassingly parallel nature of the problem, a parameter like `p` lets defenders leverage it too. It's primarily nice to reduce latency while deriving strong keys.

Indeed, it's nice to have reduced latency, but I feel like if supporting the feature will require unsafe, maybe it's not best call, I don't know though.

All in all, I guess I am a bit biased because I have dealt too many times with memory-related vulnerabilities. 

I guess a more grounded solution, would be to have 2 different crates or something along these lines, one would contain the unsafe implementation, one would contain a pure rust implementation, without parallelism if need be, and let users choose ?
